# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# SUSHI and IG Publisher
.fhir
**/fsh-generated
**/input-cache
**/output
**/temp
**/template
**/_preprocessed
**/_genonce*
**/_updatePublisher*
**/*.jar