# SUSHI and IG Publisher
igs/*/fsh-generated
igs/*/input-cache
igs/*/output
igs/*/temp
igs/*/template
igs/*/_preprocessed
igs/*/_genonce*
igs/*/_updatePublisher*
**/*.jar

# Gradle and IntelliJ
.idea

# Liquid template engine output
package-feed.xml

# Support tools for template development
node_modules
